html {
    position: relative;
}

body {
    min-height: 250vh;
}

.ikontop {
    padding-top: 15px;
    margin-bottom: -15px;
}

.ikontop h6 {
    font-size: 15px;
}

.ikontop a {
    text-decoration: none;
    color: black;
}

.navbar img {
    width: 40px;
}

.navbar-brand {
    color: rgb(207, 171, 7) !important;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.navbar {
    z-index: 1;
    position: relative;
    margin-top: -30px;
}

.navbar-nav {
    font-size: 17px;
}




.btn {
    background-color: pink;
    margin-left: -10px;
}

.jumbotron {
    height: 60px;
    padding: 1px 0;
}

.breadcrumb-item a {
    color: black;
}

.breadcrumb-item a, .breadcrumb-item {
    font-size: 17px;
}

.breadcrumb-item a:hover, .breadcrumb-item.active {
    color: #f99494;
    text-decoration: none;
}

.grid-list-top.border-default {
    padding: 15px;
}

.border-default {
    border: 1px solid #ededed;
    /* border-radius: 3px;
    padding-bottom: 30px; */
}

.justify-content-md-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.grid-list-view span {
    padding-left: 40px;
}

.grid-list-top .tabs-area > li span, .toolbar-sorter label, .show-items {
    color: #3e3e3e;
    font-size: 13px;
}

.toolbar-sorter {
    width: 355px;
}

.toolbar-sorter label {
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 15px;
    width: 65px;
}

input, select {
    font-size: 14px;
}

.img img {
    width: 100%;
}

.sticker-new {
    background-color: black;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    left: 20px;
    line-height: 25px;
    min-width: 50px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 20px;
    z-index: 5
}


.tittle a {
    display: block;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

.harga {
    color: #343434;
    font-size: 18px;
    font-weight: 600;
    padding-right: 5px;
}
