
html {
    position: relative;
}

body {
    height: 150vh;
}

.ikontop {
    padding-top: 15px;
    margin-bottom: -15px;
}

.ikontop h6 {
    font-size: 15px;
}

.ikontop a {
    text-decoration: none;
    color: black;
}

.navbar img {
    width: 40px;
}

.navbar-brand {
    color: rgb(207, 171, 7) !important;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.navbar {
    z-index: 1;
    position: relative;
    margin-top: -30px;
}

.navbar-nav {
    font-size: 17px;
}

.nav-link.asd {
    color: #f99494 !important;
}


.btn {
    background-color: pink;
    margin-left: -10px;
}

.jumbotron {
    height: 60px;
    padding: 1px 0;
}

.breadcrumb-item a {
    color: black;
}

.breadcrumb-item a, .breadcrumb-item {
    font-size: 17px;
}

.breadcrumb-item a:hover, .breadcrumb-item.active {
    color: #f99494;
    text-decoration: none;
}

.titlee h3 {
    color: #f99494;
    display: inline-block;
    font-size: 28px;
    padding-bottom: 15px;
    font-weight: 600;
}

p {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

/* footer */
.inifutercok {
    background-color: black;
    width: 1910px;
    height: 690px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.kontakfuter1 {
    margin-left: 80px;
    margin-top: 100px;
}

.kontakfuter1 h3 {
    color: white;
}

.kotakfuter1 h3, span {
    font-weight: 600;
}

.kontakfuter1 p {
    color: white;
    font-size: 20px;
    line-height: 35px;
}

.kontakfuter1 a {
    text-decoration: none;
}

.kontakfuter1 a p {
    color: rgb(0, 255, 0);
}

.kontakfuter1 a p:hover {
    color: green;
}

.kontakfuter1 .spanfuter {
    font-weight: 800;
}

.kotakfuter2 {
    margin-left: -30px;
    margin-top: 100px;
}

.kotakfuter2 h3 {
    color: white;
}

.kotakfuter2 h3, span {
    font-weight: 600;
}

.kotakfuter2 a {
    text-decoration: none;
}

.kotakfuter2 a p {
    color: rgb(0, 255, 0);
    font-size: 20px;
    line-height: 34px;
}

.kotakfuter2 a p:hover {
    color: green;
}



.kotakfuter3 {
    margin-left: -150px;
    margin-top: 100px;
}

.kotakfuter3 h3 {
    color: white;
}

.kotakfuter3 img {
    width: 65px;
    margin-right: 10px;
    margin-top: 10px;
}

.kotakfuter3 h5 {
    color: white;
}

.kotakfuter3 a {
    text-decoration: none;
}

.kotakfuter3 h5:hover {
    color: grey;
}

.copyright {
    margin-top: 55px;
    margin-left: -140px;
}

.copyright h6 {
    color: grey;
}

.copyright a {
    color: rgb(0, 255, 0);
}

.copyright a:hover {
    color: green;
}

.garis-copyright {
    width: auto;
}

.kotakfuter4 {
    margin-left: -50px;
    margin-top: 100px;
}

.kotakfuter4 h3 {
    color: white;
    margin-left: -30px;
}

.kotakfuter4 img {
    width: 170px;
    border-radius: 17px;
    margin-right: 20px;
}

.pembayaran h3 {
    margin-bottom: 30px;
}

.pengiriman img {
    width: 170px;
    margin-top: 20px;
}

.JNE img {
    width: 170px;
    height: 85px;
}

.sicepattiki img {
    height: 85px;
}

.vl {
    border-left: 1px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 0;
  }

.vl2 {
    border-left: 1px solid green;
    height: 250px;
    position: absolute;
    left: 40%;
    margin-left: 60px;
    top: 0;
}

.vl3 {
    border-left: 1px solid green;
    height: 480px;
    position: absolute;
    left: 40%;
    margin-left: 110px;
    top: 0;
}
/* footer */